node_modules
.git
.gitignore
backend
*.md
README.md
Jenkinsfile
textcode.txt
Dockerfile
.dockerignore
next-env.d.ts
.env*.local
.env*.dev
npm-debug.log*
Dockerfile*
.dockerignore
**/Dockerfile*
**/docker-compose*.yml
**/.git
**/.DS_Store
**/.cache
**/node_modules
dist
tmp
